COPY config /usr/local/etc/php/conf.d
COPY php-fpm /usr/local/etc/php-fpm.d

COPY --from=caddy /bin/parent /bin/parent
COPY --from=caddy /usr/bin/caddy /usr/bin/caddy
COPY Caddyfile /etc/Caddyfile

COPY php-caddy-entrypoint /usr/local/bin/

EXPOSE 2015

ENTRYPOINT [ "php-caddy-entrypoint" ]

CMD ["--conf", "/etc/Caddyfile", "--agree"]
