COPY config /usr/local/etc/php/conf.d
COPY php-cli-entrypoint /usr/local/bin

RUN mv /usr/local/bin/docker-php-entrypoint /usr/local/bin/base-docker-php-entrypoint \
    && ln -s /usr/local/bin/php-cli-entrypoint /usr/local/bin/docker-php-entrypoint

ENV OPCACHE_VALIDATE_TIMESTAMPS=1

ENTRYPOINT [ "php-cli-entrypoint" ]

CMD ["php", "-a"]
