ENV PM_MODE=ondemand \
    PM_MAX_CHILDREN=40 \
    PM_START_SERVERS=15 \
    PM_MIN_SPARE_SERVERS=15 \
    PM_MAX_SPARE_SERVERS=25 \
    PM_PROCESS_IDLE_TIMEOUT=10s \
    OPCACHE_VALIDATE_TIMESTAMPS=1

COPY config /tmp/php-conf
COPY php-fpm /tmp/php-fpm

COPY php-fpm-entrypoint php-fpm-healthcheck /usr/local/bin/

ENTRYPOINT [ "php-fpm-entrypoint" ]

CMD ["php-fpm"]
